@media screen and (max-width: 768px) {
  .header-page {
    background-position: -950px -600px;
    &__content__text {
      &--title {
        font-size: 40px;
      }
      &--invite {
        font-size: 18px;
      }
    }
  }
  .mission {
    background: none;
    &__section {
      &--title {
        font-size: 40px;
      }
      &--sub-title {
        font-size: 18px;
        margin-bottom: 20px;
      }
      &--text {
        font-size: 16px;
      }
    }
  }
  .target {
    &__section-description {
      &--title {
        font-size: 40px;
      }
      &--sub-title {
        font-size: 18px;
      }
      &--text {
        font-size: 16px;
      }
    }
  }
  .capabilities {
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 45px 0;
      /*   align-content: space-around;*/
      & header {
        width: 25%;
        display: flex;
      }
      & p {
        width: 25%;
        display: flex;

      }
      & footer {
        display: flex;
        width: 40%;
        transform: translate(0, 0);
        top: 0;
      }
    }
  }
  .contacts {
    margin-top: 20px;
    &__img {
      display: none;
    }
    &__description {
      width: 100%;
      & figure {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
      & table {
        width: 50%;
      }
      & figcaption {
        width: 50%;
      }
    }
  }
  .links {
    display: none
  }
  .map__wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .footer{
    margin-top: 50px;
    background-image: url(../img/footer_bg.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: -500px top;

    &__wrap {
      width: 100%;
      margin-left: 0;
      padding: 80px 0 15px 0;
      background: none;
      & nav {
        position: relative;
        left: 25px;
        width: 90%;
      }
    }
  }
}