@media screen and (max-width: 420px) {
  .header-page{
    overflow: hidden;
    &__brand{
      width: 65%;
    }
    &__content{
      margin-top: 0;
      padding: 10px 10px 20px 0;
    }
    background-position: -1400px -270px;
    &__nav-menu{
    display: none;
    }
    &__content{
      flex-direction: column;
      &__text{
        margin-top: 40px;
        line-height: normal;
        width: 80%;
        &--invite{
          font-size: 20px;
        }
        &__button-description{
          font-size: 14px;
        }
        &--title{
          font-size: 35px;
          line-height: normal;
        }
      }
    }
  }
  .uiw__section-name{
    &--title{
      font-size: 35px;
      overflow: hidden;
    }
  }
  .uiw{
    .section-name--description{

    }
    &__world-coverage{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      &>div::before{
        display: none;
      }
      h2{
        color: #FFC000;
      }
      h4{

      }
      h5{

      }
      &__co-worker,
      &__users,
      &__countries {
        padding-top: 0px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

    }
    .uiw__world-coverage__users__text,
    .uiw__world-coverage__countries__text,
    .uiw__world-coverage__co-worker__text{
      margin-top: 10px;
      width: 80%;
      text-align: center;
    }

  }
  .uiw__world-coverage__users__text,
  .uiw__world-coverage__countries__text,
  .uiw__world-coverage__co-worker__text{
    margin-top: 10px;
    width: 80%;
    text-align: center;
  }
  .in-Ukraine{
    &__in-country-coverage {
      display: flex;
      flex-direction: column;

      &__co-worker{
        padding-top: 0;
        width: 100%;
        text-align: center;

        &::before{
          display: none;
        }
        &__numbers{
          color: #FFC000;
        }
        &__text{
          margin-top: 0;
        }
      }
      &__investments {
        padding-top: 0;
        width: 100%;
        text-align: center;

        &::before {
          display: none;
        }
        &__numbers {
          color: #FFC000;
        }
        &__text {
          margin-top: 0;
        }
      }
      &__duration {
        padding-top: 0;
        width: 100%;
        text-align: center;
        margin: 20px 0;

        &::before {
          display: none;
        }
        &__numbers {
          color: #FFC000;
        }
        &__text {
          margin-top: 0;
        }
      }
    }
  }
  .mission{
    background-image: url("../img/bg-mission.jpg");
    background-position: 70% center ;
    background-size: cover;
    &__wrap{
      flex-direction: column;
    }

    &__section{
      &-description{
        width: 100%;

        &::before{
          display: none;
        }
      }
      &--title{
        color: white;
      }
      &--sub-title{
        color: white;

      }
      &--text{
        display: none;
      }
    }
  }
  .target{
    margin-top: -100px;
    padding: 0;
    &__photo-gallery {
      display: none;
    }
    &__section-description{
      width: 100%;
    }
  }
  .section-advantage{
    padding-top: 0;
  }
  .advantage__title{
    font-size: 40px;
  }
  .advantage {
    &__wrap::before {
      display: none;

      &::before {

      }
    }
    &__offers{
      flex-direction: column;

    }
    &__offers>figure{
      width: 80%;
    }
  }
  .et{
    &--wrapper>figure{
      flex-direction: column;
    }
    &__img{
      width: 100%;
    }
    &__section-description{
      width: 100%;
    }
  }
  .contacts{
    margin: 0;

    &__description{
      width: 100%;
      & figure {
        flex-direction: column;
        & figcaption{
          width: 100%;
        }
        & table{
          width: 100%;
        }
      }
    }
    &__img{
      display: none;
    }
  }
  .map__wrap{
    width: 100%;
  }
  .links{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer {
    background-size: 300%;
    background-position: center top;
  }
  .footer__wrap{
    margin-top: 0;
    width: 100%;
    margin-left: 0;
  }
  .footer__wrap>nav{
    flex-direction: column;
  }
  .footer__wrap>nav>a{
    margin-top: 20px;
  }
  .resume-form{
    width: 90%;
  }
  .close-form{
    top: 15px;
    right: 40px;
  }
  .capabilities{
    &__list{
      display: flex;
      flex-direction: column;
    }
    &__item {
      flex-direction: column;
      padding: 50px 0 220px 0;
      & header {
        width: 100%;
        display: flex;
        bottom: 0;
      }
      & p {
        width: 100%;
        display: flex;

      }
      & footer {
        display: flex;
        width: 80%;
        transform: translate(-50%, -100%);
        top: 100%;
      }
    }
    &__wrapper h2{
      font-size: 40px;
    }
    &__item{
      width: 90%;
      margin-top: 40px;
      &--d-none{
        display: none;
      }
    }
  }
  .container{
    overflow-x: hidden;
  }
}