@font-face {
  font-family: "UnileverDINOffcPro";
  src: url("../font/UnileverDINOffcPro.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'UnileverDINOffcPro-Bold';
  src: url('../font/UnileverDINOffcPro-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'UnileverDINOffcPro-BoldIta';
  src: url("../font/UnileverDINOffcPro-BoldIta.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "UnileverDINOffcPro-Ita";
  src: url("../font/UnileverDINOffcPro-Ita.ttf") format('truetype');
  font-style: italic;
  font-weight: normal;
}