//base
%before{
  display: block;
  content:"";
  position: absolute;
}
%button{
  padding: 12px 40px;
  background: linear-gradient(101.91deg, #BF0CE8 0%, #6A5DF5 100%);
  border: 1px solid #BC84EC;
  box-sizing: border-box;
  border-radius: 33px;
}
%button-hovver{
  background: linear-gradient(101.91deg, #BF0CE8 30%, #6A5DF5 100%);
}
//main
%polygon-position{
  @extend %before;
  width: 120%;
  height: 120%;
  background-repeat: no-repeat;
  top: 15%;
  left: -40px;
  z-index: -1;
}
%font-bold{
  font-family: $font-bold;
  font-weight: bold;
  font-style: normal;
}
%font-normal{
  font-family: $font-normal;
  font-weight: normal;
  font-style: normal;
}

%number-after-polygon{
  @extend %font-bold;
  font-size: 72px;
  color: #fff;
}
%sub-title-after-polygon{
  @extend %font-bold;
  font-size: 24px;
  margin-top: 5px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
%text-after-polygon{
  @extend %font-normal;
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.2em;
}
%polygon-block{
  padding-top: 100px;
  width: 25%;
  position:relative;
}
%button-side{
  @extend %font-normal;
  color: #FFC000;
  font-size: 60px;
}
%section-title{
  @extend %font-bold;
  font-size: 60px;
  color: $font-title-color;
}
%section-sub-title{
  @extend %font-bold;
  font-size: 36px;
  color: $font-title-color;
}
%section-description{
  @extend %font-normal;
  margin: 0 auto;
  margin-top: 15px;
  color: black;
  width: 60%;
  line-height: 1.5em;
  font-size: 18px;
}
