$font-normal: 'UnileverDINOffcPro';
$font-bold: 'UnileverDINOffcPro-Bold';
$font-boldita: 'UnileverDINOffcPro-BoldIta';
$font-italic: 'UnileverDINOffcPro-Ita';
$font-title-color: #242424;
$text-hover-color: #BB10E9;
//before block for polygon

