$font-normal: 'UnileverDINOffcPro';
$font-bold: 'UnileverDINOffcPro-Bold';
$font-boldita: 'UnileverDINOffcPro-BoldIta';
$font-italic: 'UnileverDINOffcPro-Ita';
$font-title-color: #242424;
$text-hover-color: #BB10E9;
//before block for polygon

%polygon-position{
  display: block;
  content:"";
  position: absolute;
  width: 120%;
  height: 120%;
  background-repeat: no-repeat;
  top: 15%;
  left: -40px;
  z-index: -1;
}
%number-after-polygon{
  font-weight: bold;
  font-family: $font-bold;
  font-size: 72px;
  color: #fff;
}
%sub-title-after-polygon{
  margin-top: 5px;
  color: #000000;
  font-size: 24px;
  font-family: $font-bold;
  font-style: normal;
  font-weight: bold;
}
%text-after-polygon{
  margin-top: 30px;
  font-family: $font-normal;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5em;
}
%polygon-block{
  padding-top: 100px;
  width: 25%;
  position:relative;
}
%button-side{
  font-family: $font-normal;
  color: #FFC000;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
}
