.resume-form{
  background: linear-gradient(347.58deg, rgba(252, 182, 35, 0.9) 1.03%, rgba(241, 134, 22, 0.9) 100.41%);
  border-radius: 20px;
  position: fixed;
  box-shadow: 0 0 200px black;
  padding: 50px;
  top: 50%;
  left: 50%;
  z-index: 5;
  flex-direction: column;
  transform:translate(-50%, -50%);
  @extend %font-bold;
  font-size: 18px;
  color: white;
  width: 30%;

  & form{
    display: flex;
    flex-direction: column;

    & h4{
    text-align: center;
      &:hover{
        color: #9A1CEF;
      }
  }
  }

  & input {
    margin: 2em 0;
    @extend %font-bold;
    font-size: 18px;
    color: #ffffff;
    border-bottom: 2px solid white;
  }
}
.send_form{
  margin-top: 40px;
}
.input_file{
  display: none;
}
input[type="search"] {
  color: #fff;
}
.close-form{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -30px;
  right: -30px;
  background-color: #4736FE;
  border-radius: 5px;
}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
