.ico1{
  background-image: url("../img/brands/1d9562dc-a4b7-11e7-b915-14dae9b399a6.jpg");
}
.ico2{
  background-image: url("../img/brands/4ad54021-3411-11e8-abad-14dae9b399a6.png");
}
.ico3{
  background-image: url("../img/brands/4f5eb7c0-3411-11e8-abad-14dae9b399a6.png");
}
.ico4{
  background-image: url("../img/brands/5a37f0bec488ac6062ac2aa2.png");
}
.ico5{
  background-image: url("../img/brands/5a37f0d5c488ac6062ac2aa4.png");
}
.ico6{
  background-image: url("../img/brands/5a39319dc488ac6062ac2ae4.png");
}
.ico7{
  background-image: url("../img/brands/32e1dc07-a4bc-11e7-b915-14dae9b399a6.jpg");
}
.ico8{
  background-image: url("../img/brands/510d5cb6-3411-11e8-abad-14dae9b399a6.png");
}
.ico9{
  background-image: url("../img/brands/589a40535aa6293a4aac48a6.png");
}
.ico10{
  background-image: url("../img/brands/694cdac2-3411-11e8-abad-14dae9b399a6.png");
}
.ico11{
  background-image: url("../img/brands/775afe788c546e35dc51d52e7c66838b.png");
}
.ico12{
  background-image: url("../img/brands/3187a980-366b-11e8-abad-14dae9b399a6.png");
}
.ico13{
  background-image: url("../img/brands/4951847a5522d006088013dc49425114.png");
}
.ico14{
  background-image: url("../img/brands/Axe-Logo-PNG-Photos-1024x511.png");
}
.ico15{
  background-image: url("../img/brands/camay-logo.png");
}
.ico16{
  background-image: url("../img/brands/cif_tcm1315-408746_w210.png");
}
.ico17{
  background-image: url("../img/brands/Domestos_logo.png");
}
.ico18{
  background-image: url("../img/brands/Rexona.png");
}
.ico19{
  background-image: url("../img/brands/Unknown.jpeg");
}
