.ico1{
  background-image: url("../img/brands/AXE.png");
}
.ico2{
  background-image: url("../img/brands/barhatnye_ruchki.png");
}
.ico3{
  background-image: url("../img/brands/beseda.png");
}
.ico4{
  background-image: url("../img/brands/brooke bond.png");
}
.ico5{
  background-image: url("../img/brands/CAMAY.png");
}
.ico6{
  background-image: url("../img/brands/CHernyi_zhemchug.png");
}
.ico7{
  background-image: url("../img/brands/chistaya_liniya.png");
}
.ico8{
  background-image: url("../img/brands/cif.png");
}
.ico9{
  background-image: url("../img/brands/clear.png");
}
.ico10{
  background-image: url("../img/brands/domestos.png");
}
.ico11{
  background-image: url("../img/brands/dove.png");
}
.ico12{
  background-image: url("../img/brands/GLORIX.png");
}
.ico13{
  background-image: url("../img/brands/happy_moments.png");
}
.ico14{
  background-image: url("../img/brands/knorr.png");
}
.ico15{
  background-image: url("../img/brands/lesnoi.png");
}
.ico16{
  background-image: url("../img/brands/lipton.png");
}
.ico17{
  background-image: url("../img/brands/rexona.png");
}
.ico18{
  background-image: url("../img/brands/Sro_rezeptov.png");
}
.ico19{
  background-image: url("../img/brands/timotei.png");
}
