.video{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
  top: 0;
  left: 0;
/*  z-index: -1000;*/

}
.video__wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#player{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.second-video{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
  top: 0;
  left: 0;
}
.second-video__wrap{
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#player2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}