<section class="contacts">
    <div class="container">
        <a name="contacts"></a>
        <div class="contacts__wraps">
            <div class="contacts__description">
                <h2>Контакты</h2>
                <figure>
                    <table>
                        <tr>
                            <th>Адрес офиса в Киеве</th>
                            <td>ул. Дегтяревская, 27T</td>
                        </tr>
                        <tr>
                            <th>Адрес фабрики Lipton:</th>
                            <td>ул. Свято-Покровская, 141С, Гостомель, Киевская обл.</td>
                        </tr>
                        <tr>
                            <th>Телефон:</th>
                            <td>044 490 5846</td>
                        </tr>
                    </table>
                    <figcaption>
                        <div class="map__wrap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.93430704159!2d30.452539315731816!3d50.460947979476884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc2d46ecc38b%3A0x601c6b3f65917804!2z0LLRg9C70LjRhtGPINCU0LXQs9GC0Y_RgNGW0LLRgdGM0LrQsCwgMjfQkCwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1534188858091"
                                    height="250" frameborder="20" style="border:0" allowfullscreen>
                            </iframe>
                        </div>
                    </figcaption>
                    <div class="links">
                        <a href="https://goo.gl/maps/dWaG8zCnZtE2">Найти офис</a>
                        <a href="https://goo.gl/maps/ps3MecSXLSE2">Найти фабрику</a>
                    </div>
                </figure>
            </div>
            <div class="contacts__img">
                <img src="img/uniliver_manofacturer.jpg" alt="manufacturer">
            </div>
        </div>
    </div>
</section>