<section class="brands">
    <div class="container">
        <div class="brands__wrap">
            <button class="brands__button__side-left">&#60;</button>
            <div class="brands__gallery">
                <img src="img/brands/1d9562dc-a4b7-11e7-b915-14dae9b399a6.jpg" alt="" class="brands__gallery-ico">
                <img src="img/brands/4ad54021-3411-11e8-abad-14dae9b399a6.png" alt="" class="brands__gallery-ico">
                <img src="img/brands/4f5eb7c0-3411-11e8-abad-14dae9b399a6.png" alt="" class="brands__gallery-ico">
                <img src="img/brands/5a37f0bec488ac6062ac2aa2.png" alt="" class="brands__gallery-ico">
                <img src="img/brands/694cdac2-3411-11e8-abad-14dae9b399a6.png" alt="" class="brands__gallery-ico">
                <img src="img/brands/5a39319dc488ac6062ac2ae4.png" alt="" class="brands__gallery-ico">
            </div>
            <button class="brands__button__side-right">&#62;</button>
        </div>
    </div>
</section>