<section class="in-Ukraine">
    <div class="container">
        <div class="in-Ukraine__section-name">
            <h2 class="in-Ukraine__section-name--title">
                Unilever в Украине
            </h2>
            <h4 class="in-Ukraine__section-name--description">
                В Украине представлено 20 брендов Unilever и запущено первое производство продукции Lipton
            </h4>
        </div>
        <div class="in-Ukraine__in-country-coverage">
            <div class="in-Ukraine__in-country-coverage__co-worker">
                <h2 class="in-Ukraine__in-country-coverage__co-worker__numbers">172</h2>
                <h4 class="in-Ukraine__in-country-coverage__co-worker__numbers--sub-numbers">сотрудника</h4>
                <h5 class="in-Ukraine__in-country-coverage__co-worker__text">
                    Украинская команда Unilever активно растет, что открывает больше возможностей для развития каждого
                    сотрудника
                </h5>
            </div>


            <div class="in-Ukraine__in-country-coverage__duration">
                <h2 class="in-Ukraine__in-country-coverage__duration__numbers">25</h2>
                <h4 class="in-Ukraine__in-country-coverage__duration__numbers--sub-numbers">лет в Украине</h4>
                <h5 class="in-Ukraine__in-country-coverage__duration__text">
                    Unilever была основана в 1830г, а на рынке Украины компания уже более 25 лет
                </h5>
            </div>
            <div class="in-Ukraine__in-country-coverage__investments">
                <h2 class="in-Ukraine__in-country-coverage__investments__numbers">325</h2>
                <h4 class="in-Ukraine__in-country-coverage__investments__numbers--sub-numbers">млн евро инвестиций</h4>
                <h5 class="in-Ukraine__in-country-coverage__investments__text">
                    Было привлечено в Украину благодаря Unilever и эта цифра продолжает расти
                </h5>
            </div>

        </div>

    </div>
</section>