<section class="uiw">
    <a name="about__company"></a>
    <div class="container">
        <div class="uiw__section-name">
            <h2 class="uiw__section-name--title">
                Unilever в мире
            </h2>
            <h4 class="uiw__section-name--description">
                Компания Unilever – мировой лидер, занимающийся производством товаров народного потребления.
            </h4>
        </div>
        <div class="uiw__world-coverage">

            <div class="uiw__world-coverage__countries">
                <h2 class="uiw__world-coverage__countries__numbers">190</h2>
                <h4 class="uiw__world-coverage__countries__numbers--sub-numbers">стран</h4>
                <h5 class="uiw__world-coverage__countries__text">Продукция Unilever продается в 190 странах мира.</h5>
            </div>


            <div class="uiw__world-coverage__users">
                <h2 class="uiw__world-coverage__users__numbers">2.5</h2>
                <h4 class="uiw__world-coverage__users__numbers--sub-numbers">млрд потребителей</h4>
                <h5 class="uiw__world-coverage__users__text">Столько людей используют продукцию Unilever ежедневно.</h5>
            </div>
            <div class="uiw__world-coverage__co-worker">
                <h2 class="uiw__world-coverage__co-worker__numbers">169</h2>
                <h4 class="uiw__world-coverage__co-worker__numbers--sub-numbers">тыс. сотрудников</h4>
                <h5 class="uiw__world-coverage__co-worker__text">Столько сотрудников объеденены миссией Unilever по всему миру.</h5>
            </div>
        </div>
    </div>
</section>