<section class="enjoy-in-our-team">
    <div class="container">
        <div class="et--wrapper">
            <figure>
                <div class="et__img">
                    <img src="img/ofice__team.jpg" alt="office_team">
                </div>
                <figcaption class="et__section-description">
                    <h3>
                        Станте частью команды
                    </h3>
                    <p>В Unilever мы предлагаем вам новые способы личного развития, больше возможностей для достижения
                        успеха, привлекательные награды и поощрения, а также многочисленные направления для построения
                        карьеры.
                    </p>
                    <button class="btn open-resume-form" onclick="openResumeForm()">
                        <span>Отправить резюме</span>
                    </button>
                </figcaption>
            </figure>
        </div>
    </div>
</section>