<section class="section__capabilities">
    <div class="container">
        <div class="capabilities__wrapper">
            <a name="capabilities"></a>
            <h2>Возможности для студентов и выпускников</h2>

            <div class="capabilities__list">
                <div class="capabilities__item">
                    <header>UELP</header>
                    <p>Unilever Future Leaders Programme (UFLP) – это программа для подготовки будущих лидерлв бизнеса.
                        Всего за 2,5 года ты сможешь пройти путь от выпускника до руководителя одного из отделов Unilever
                        Ukraine.
                    </p>
                    <footer class="capabilities__item__img-f js-open-video">
                        <div class="capabilities__footer__img">
                            <img src="img/youtube_button.png">
                        </div>
                    </footer >
                </div>
                <div class="capabilities__item">
                    <header>ULIP</header>
                    <p>Unilever Leadership Internship Programme (ULIP) – программа для амбициозных студентов 3-5 курсов,
                        которые уже хотят начать свою карьеру в лучшей бизнес-школе.
                    </p>
                    <footer class="capabilities__item__img-s js-open-video">
                        <div class="capabilities__footer__img">
                            <img src="img/youtube_button.png">
                        </div>
                    </footer>
                </div>
                <div class="capabilities__item capabilities__item--d-none">
                    <header>Ambassador</header>
                    <p>Получи возможность стать амбассадором и представлять компанию Unilever Ukraine в своем университете.
                        Этот уникальный опыт даст возможность быстрого карьерного роста.
                    </p>
                    <footer class="capabilities__item__img-t">
                    </footer>
                </div>
            </div>
            <button class="btn">
                <span>Узнать большше</span>
            </button>
        </div>
    </div>
</section>