<section class="section-advantage">
    <div class="container advantage__wrap">
        <h2 class="advantage__title">Преимущества работы в компании</h2>
        <div class="advantage__offers">
            <figure class="advantage__education">
                <figcaption class="advantage__education--title">
                <h4>Обучение и развитие</h4>
                <p>Програмы коучинга</p>
                <p>Индивидуальные планы роста: профессионального и личностного</p>
                <p>Более 60 вакансий в офис и на фабрику Lipton</p>
                </figcaption>
                <img src="../images/sprite/stairs.svg" alt="" class="advantage--ico">
            </figure>
            <figure class="advantage__healthy">
                <figcaption class="advantage__healthy--title">
                    <h4>Забота о здоровье и окружающей среде</h4>
                    <p>Тренинги по физическому и ментальному здоровью</p>
                    <p>Производство соответствует экологическим стандартам</p>
                </figcaption>
                <img src="../images/sprite/heart.svg" alt="heart" class="advantage--ico">
            </figure>
            <figure class="advantage__bonus">
                <figcaption class="advantage__bonus--title">
                    <h4>Выгоды и бонусы для сотрудников</h4>
                    <p>Гибкие условия работы по методике Agile</p>
                    <p>Скидки на спортивный зал</p>
                    <p>Оплата больничных</p>
                    <p>Развозка до фабрики</p>
                </figcaption>
                <img src="../images/sprite/insurance.svg" alt="insurance" class="advantage--ico">
            </figure>
        </div>
        <button class="btn"></button>
    </div>
</section>
