<section class="mission">
    <div class="container">
        <div class="mission__wrap">
            <div class="mission__section-description">
                <h2 class="mission__section--title">Миссия Unilever</h2>
                <h4 class="mission__section--sub-title">
                    Улучшать качество жизни, заботиться о здоровье и окуржающей среде
                </h4>
                <h5 class="mission__section--text">
                    Мы являемся глобальной компанией по продаже товаров повседневного спроса. Наша цель — сделать
                    экологически ответственную жизнь обычным явлением.
                </h5>
            </div>
            <div class="mission__section--image-block">
                <div class="mission__section--image">
                    <img src="../img/image-mission.png" alt="mission" claas="mission-image">
                </div>
                <div class="section__image--wrap">
                    <img src="../images/pointer.svg" alt="pointer">
                </div>
            </div>
        </div>
    </div>
</section>
