<section class="section__capabilities">
    <div class="container">
        <div class="capabilities__wrapper">
            <a name="capabilities"></a>
            <h2>Возможности для студентов и выпускников</h2>
            <table>
                <thead>
                <tr>
                    <th>UFLP</th>
                    <th>ULIP</th>
                    <th>Ambassador</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Unilever Future Leaders Programme (UFLP) – это программа для подготовки будущих лидерлв бизнеса.
                        Всего за 2,5 года ты сможешь пройти путь от выпускника до руководителя одного из отделов Unilever
                        Ukraine.
                    </td>
                    <td>Unilever Leadership Internship Programme (ULIP) – программа для амбициозных студентов 3-5 курсов,
                        которые уже хотят начать свою карьеру в лучшей бизнес-школе.
                    </td>
                    <td>Получи возможность стать амбассадором и представлять компанию Unilever Ukraine в своем университете.
                        Этот уникальный опыт даст возможность быстрого карьерного роста.
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div class="video__wrapper">
                                <iframe align="center center" class="table__video" src="https://www.youtube.com/embed/hiAimdhSbZY" frameborder="0"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </td>
                        <td>
                            <div class="video__wrapper">
                                <iframe align="center center" class="table__video" src="https://www.youtube.com/embed/hiAimdhSbZY" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </td>
                        <td class="table__image"><img src="img/ambasador.png" alt="ambassador"></td>
                    </tr>
                </tfoot>
            </table>
            <button class="btn">
                <span>Узнать большше</span>
            </button>
        </div>
    </div>
</section>