<section class="footer">
    <div class="container">
        <div class="footer__wrap">
            <nav>
                <a href="#about__company">Про компанию</a>
                <a href="https://kiev.hh.ua/employer/21071#vacancy-list">Вакансии</a>
                <a href="http://unileverleaders.com.ua/">Стажировки</a>
                <a href="https://www.facebook.com/unilever/">
                    <div class="footer__icon facebook">
                    </div>
                </a>
                <a href="https://twitter.com/unilever">
                    <div class="footer__icon twitter">
                    </div>
                </a>
            </nav>
        </div>
    </div>
</section>