<section class="footer">
    <div class="container">
        <div class="footer__wrap">
            <nav>
                <a href="">Про компанию</a>
                <a href="">Вакансии</a>
                <a href="">Стажировки</a>
                <a href="">
                    <div class="footer__icon facebook">
                       <!-- <img src="../images/sprite/icoFB.png" alt="facebook" height="30px" width="15px">-->
                    </div>
                </a>
                <a href="">
                    <div class="footer__icon twitter">
                       <!-- <img src="../images/sprite/icoTwi.png" alt="twitter" >-->
                    </div>
                </a>
            </nav>
        </div>
    </div>
</section>