<section class="uiw">
    <div class="container">
        <div class="uiw__section-name">
            <h2 class="uiw__section-name--title">
                Unilever в мире
            </h2>
            <h4 class="uiw__section-name--description">
                Компания Unilever – мировой лидер, занимающийся производством товаров народного потребления.
            </h4>
        </div>
        <div class="uiw__world-coverage">

            <div class="uiw__world-coverage__countries">
                <h2 class="uiw__world-coverage__countries__numbers">190</h2>
                <h4 class="uiw__world-coverage__countries__numbers--text">стран</h4>
                <h5 class="uiw__world-coverage__countries__text">Продукция Unilever продается в 190 странах мира.</h5>
            </div>


            <div class="uiw__world-coverage__users">
                <h2 class="uiw__world-coverage__users__numbers">190</h2>
                <h4 class="uiw__world-coverage__users__numbers--text">стран</h4>
                <h5 class="uiw__world-coverage__users__text">Продукция Unilever продается в 190 странах мира.</h5>
            </div>
            <div class="uiw__world-coverage__co-worker">
                <h2 class="uiw__world-coverage__co-worker__numbers">190</h2>
                <h4 class="uiw__world-coverage__co-worker__numbers--text">стран</h4>
                <h5 class="uiw__world-coverage__co-worker   __text">Продукция Unilever продается в 190 странах мира.</h5>
            </div>
        </div>
    </div>
</section>