<section class="brands">
    <div class="container">
        <div class="brands__wrap">
            <div class="brands__gallery">
                <div class="brands__gallery-ico ico1"></div>
                <div class="brands__gallery-ico ico2"></div>
                <div class="brands__gallery-ico ico3"></div>
                <div class="brands__gallery-ico ico4"></div>
                <div class="brands__gallery-ico ico5"></div>
                <div class="brands__gallery-ico ico6"></div>
                <div class="brands__gallery-ico ico7"></div>
                <div class="brands__gallery-ico ico8"></div>
                <div class="brands__gallery-ico ico9"></div>
                <div class="brands__gallery-ico ico10"></div>
                <div class="brands__gallery-ico ico11"></div>
                <div class="brands__gallery-ico ico12"></div>
                <div class="brands__gallery-ico ico13"></div>
                <div class="brands__gallery-ico ico14"></div>
                <div class="brands__gallery-ico ico15"></div>
                <div class="brands__gallery-ico ico16"></div>
                <div class="brands__gallery-ico ico17"></div>
                <div class="brands__gallery-ico ico18"></div>
                <div class="brands__gallery-ico ico19"></div>
            </div>
        </div>
    </div>
</section>