<section class="target">
    <div class="container">
        <div class="target__wrap">
            <div class="target__photo-gallery">
            </div>
            <div class="target__section-description">
                <h2 class="target__section-description--title">Цель Unilever Ukraine</h2>
                <h4 class="target__section-description--sub-title">Быть лучшим работодателем в Украине</h4>
                <h5 class="target__section-description--text">
                    В Unilever мы предлагаем вам новые способы личного развития, больше возможностей для достижения
                    успеха, привлекательные награды и поощрения, а также многочисленные направления для построения
                    карьеры.
                </h5>
            </div>
        </div>
    </div>
</section>