<div class="form-wrap d-none js-close-form-by-wrap">
    <div class="resume-form js-form-area">
        <button class="close-form js-close-resume-form"> &#215;</button>
        <h3>Отправить резюме</h3>
        <form action="" method="post">
            <input type="text" placeholder="Фамилия и имя" maxlength="40">
            <input type="text" placeholder="Вакансия" maxlength="40">
            <input type="tel" placeholder="Телефон" maxlength="40" id="tel">
            <input type="email" placeholder="Email" maxlength="40">
            <label>
                <h4>Вставить резюме</h4>
                <input type="file" class="input_file">
            </label>
            <label>
            <button class="send_form btn">Отправить</button>
                <input type="submit" class="d-none">
            </label>
        </form>
    </div>
</div>