<section class="second-video video d-none" id="close_vid" >
    <div class="video__wrap" id="player"></div>
    <a href="#" id="pause">Pause</a>
    <a href="#" id="resume">Resume</a>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "http://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
                height: 'auto',
                width: 'auto',
                videoId: 'dbWYqdBNgH4',
            });
            console.log(player);
        }
    </script>




    <!-- <iframe class="js-video-wrap"
             frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
     </iframe>-->
    <!--  src="https://www.youtube.com/embed/ZRjE6u63iJ0"-->
    </div>
</section>