//Unilever in world
.uiw {
  padding-top: 30px;

  &__section-name{
    width: 100%;

    &--title{
      text-align: center;
      font-family: $font-bold;
      font-size: 60px;
      color: $font-title-color;
      font-weight: bold;

    }
    &--description{
      margin: 0 auto;
      margin-top: 15px;
      text-align: center;
      color: black;
      width: 60%;
      line-height: 1.5em;
      font-family: $font-normal;
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
    }
  }
  &__world-coverage{
    display: flex;
    justify-content: space-between;
    margin-top: 91px;

    &__countries {
      @extend %polygon-block;

      &::before {
        @extend %polygon-position;
        background-image: url("/img/Polygon 2.8.png");
      }
      &__numbers {
        @extend %number-after-polygon;

        &--sub-numbers {
          @extend %sub-title-after-polygon;
        }
      }
      &__text {
        @extend %text-after-polygon;
      }
    }
    &__users{
      @extend %polygon-block;

      &::before{
        @extend %polygon-position;
        background-image: url("/img/Polygon 2.9.png");
      }
      &__numbers{
        @extend %number-after-polygon;

        &--sub-numbers{
          @extend %sub-title-after-polygon;
        }
      }
      &__text{
         @extend %text-after-polygon;
      }
    }
    &__co-worker{
      @extend %polygon-block;

      &::before{
        @extend %polygon-position;
        background-image: url("/img/Polygon 2.11.png");
      }
      &__numbers{
        @extend %number-after-polygon;

        &--sub-numbers{
          @extend %sub-title-after-polygon;
        }
      }
      &__text{
        @extend %text-after-polygon;
      }
    }
  }
}
