.target{
  padding: 20px 0 0 20px;
  position: relative;


  &__wrap{
    display: flex;
    justify-content: space-between;
  }
  &__photo-gallery {
    width: 55%;
    background-image: url("../img/worker.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

  }
  &__section-description{
    width: 40%;
  }
  &__section-description{
    padding: 40px 0;
    &--title{
      @extend %section-title;
      text-align: left;
    }
    &--sub-title{
      margin-top: 30px;
      @extend %section-sub-title;
      text-align: left;
    }
    &--text{
      margin-top: 30px;
      @extend %section-description;
      width: 100%;
      text-align: left;
    }
  }
}
