.header-page{
  padding-top: 20px;
  padding-bottom: 200px;
  position: relative;
  background-image: url("../img/fs-bg.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center -550px;

  &__nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    &--link{
      color: #ffffff;
      font-family: $font-bold, sans-serif;
      font-size: 18px;
      font-weight: bold;

      &:hover{
        color: #BB10E9;
      }
    }
  }
  &__content {
    width: 100%;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    &__text{
      vertical-align: top;
      line-height: 1.8em;
      @extend %font-bold;
      &--title{
        font-size: 60px;
      }

      &__button{
        margin-top: 20px;
        @extend %button;
        &:hover{
          @extend %button-hovver;
        }
        &-description{
          font-family: $font-bold;
          font-size: 18px;
          color: #ffffff;
        }
      }
    }
  }
    &__brand{
      width: 30%;
      display: inline-block;
      text-align: center;

      &__logo{
        &--img{
          width: 100%;
          height: 100%;
        }
      }
      &__title{
        margin-top: 20px;
      }
      &--invite{
        font-size: 24px;
      }

  }


  &__content__text{
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    font-family: $font-bold;
    color: #fff;
    width: 50%;
  }
}